<p>
  Angular provides built-in pipes for typical data transformations, including
  transformations for internationalization (i18n), which use locale information
  to format data. The following are commonly used built-in pipes for data
  formatting:
</p>

<ul>
  <li>
    <a routerLink="date-pipe">DatePipe:</a> Formats a date value according to
    locale rules.
  </li>
  <li>
    <a routerLink="upper-case-pipe">UpperCasePipe:</a> Transforms text to all
    upper case.
  </li>
  <li>
    <a routerLink="lower-case-pipe">LowerCasePipe:</a> Transforms text to all
    lower case.
  </li>
  <li>
    <a routerLink="title-case-pipe">TitleCasePipe:</a> Transforms text to all
    title case.
  </li>
  <li>
    <a routerLink="currency-pipe">CurrencyPipe:</a> Transforms a number to a
    currency string, formatted according to locale rules.
  </li>
  <li>
    DecimalPipe: Transforms a number into a string with a decimal point,
    formatted according to locale rules.
  </li>
  <li>
    PercentPipe: Transforms a number to a percentage string, formatted according
    to locale rules.
  </li>
</ul>
