<mat-drawer-container>
    <mat-drawer #drawer mode="push">
        <ul>
            <li><a routerLink="/">The Bascis</a></li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                mat-raised-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>