@import "../assets/scss/mixins";

.mat-drawer-container{
    .mat-drawer{
        padding: 20px;
        .mat-drawer-inner-container{
            ul{
                li{
                    margin-bottom: 10px;
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
    .mat-drawer-content{
        .mat-toolbar{
            position: fixed;
            top: 0;
            z-index: 100;
        }
    }
}

html {
  scroll-behavior: smooth;
}

body{
    background: #212121;
    color: #ffffff;
}