<h3 id="upperCasePipe">upperCase Pipe</h3>
<visual-d>
  <p>The string to transform to {{ pipeText | uppercase }}</p>
</visual-d>
<mat-tab-group>
  <mat-tab label="HTML">
    <code-component>
      <div #codeData>
        {{ caseP }}
      </div>
    </code-component>
  </mat-tab>
  <mat-tab label="TS">
    <code-component>
      <div #codeData>
        {{ casePTS }}
      </div>
    </code-component>
  </mat-tab>
</mat-tab-group>

<h4 id="upperCasePipeTS">upperCase Pipe with TS</h4>
<visual-d>
  <p>The string to transform to {{ casePipeText }}</p>
</visual-d>
<mat-tab-group>
  <mat-tab label="HTML">
    <code-component>
      <div #codeData>
        {{ caseTSP }}
      </div>
    </code-component>
  </mat-tab>
  <mat-tab label="TS">
    <code-component>
      <div #codeData>
        {{ caseTSPTS }}
      </div>
    </code-component>
  </mat-tab>
  <mat-tab label="Module TS">
    <code-component>
      <div #codeData>
        {{ moduleTS }}
      </div>
    </code-component>
  </mat-tab>
</mat-tab-group>
